.datacontainer {
    width: 100% !important;
}
.datacontainer form{
    display: flex !important;
    flex-flow: column !important;
    width: 100% !important;
}
.datatextField {
   
    width: 100%;
}
.datadense {
    margin-Top: 20px;
}
.datamenu {
    width: 100%;
}


